@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display"),
    url("../assets/DM_Serif_Display/DMSerifDisplay-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: local("Karla"),
    url("../assets/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
